@media (min-width: 768px) {
    .header-container {
        background-color: lightgrey;
        text-align: center;
        vertical-align: middle;
        margin-top: 3px;
    }

    .header-message {
        height: 100%;
    }

    .header-message p {
        font-size: medium;
        color: black;
        font-weight: bold;
        margin: 0px;
    }

    .header-message a {
        font-size: small;
        color: black;
    }

    .header-message a:hover {
        color: #ffec00;
        text-decoration: none;
    }
}

@media (max-width: 767px) {
    .header-container {
        display: none;
    }
}
