@media (min-width: 768px) {
  .header-container {
    background-color: plum;
    text-align: center;
    vertical-align: middle;
    margin-top: 3px;
  }

  .header-message {
    height: 100%;

    p {
      font-size: small;
      color: #fff;
      margin: 0px;
    }

    a {
      font-size: small;
      color: #fff;
    }

    a:hover {
      color: $focus-color1;
      text-decoration: none;
    }
  }
}

@media (max-width: 767px) {
  .header-container {
    display: none;
  }

}